[submodule "avago-megaraid-sas"]
	path = drivers/avago-megaraid-sas
	url = git@github.com:xcp-ng-rpms/avago-megaraid-sas.git
[submodule "drivers/avago-mpt3sas"]
	path = drivers/avago-mpt3sas
	url = git@github.com:xcp-ng-rpms/avago-mpt3sas.git
[submodule "drivers/broadcom-bnxt-en"]
	path = drivers/broadcom-bnxt-en
	url = git@github.com:xcp-ng-rpms/broadcom-bnxt-en.git
[submodule "drivers/chelsio-cxgb4"]
	path = drivers/chelsio-cxgb4
	url = git@github.com:xcp-ng-rpms/chelsio-cxgb4.git
[submodule "drivers/cisco-enic"]
	path = drivers/cisco-enic
	url = git@github.com:xcp-ng-rpms/cisco-enic.git
